body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 2em;
  background-color: #fafafa;

  background-image: url('images/christmas_cat.jpg'); 
  background-size: 100%;      
  background-repeat: no-repeat; 
  background-position: center 10%;
}
h1 {
  color: #b41706;
  font-weight: 900; 
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
  text-transform: uppercase; 
  margin-bottom: 0.5em;
}
p {
  font-size: 1.6em;
  font-weight: 700;
  color: #fce304;                     /* jaune vif */
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* fort contraste */
}

.p2 {
  font-size: 1.6em;
  font-weight: 700;
  color: #fc04a9;                     /* jaune vif */
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* fort contraste */
}

button {
  background: #27ae60;
  color: white;
  cursor: pointer;
  transition: background 0.2s;

  padding: 1em 2em;       /* plus grand que 0.6em 1em */
  font-size: 1.2em;       /* texte plus grand */
  border-radius: 0.7em;   /* coins légèrement plus arrondis */
  border: 1px solid #1e8c4e; /* bordure assortie */
}

button:hover { background: #1e8c4e; }
.wheel-container { margin-top: 2em; position: relative; display: inline-block; }
canvas { border: none; }
.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fce304; 
  position: absolute;
  top: -10px; 
  left: 50%;
  transform: translateX(-50%);
}
.result-message {
  font-size: 1.2em;
  margin-top: 0.5em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000; /* même lisibilité que #result */
}

#result {
  margin-top: 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000; /* ombre noire */
  min-height: 2em;
}

.shimmy {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;

  background: #b41706;
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 0.4em 0.6em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}